<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
    <h1>Formulario de Registro (Muestra)</h1>
</div>

<incident-add-form></incident-add-form>

<div class="container">
    <h1>Mapa de Reporte (Muestra)</h1>
    <small>
      La siguiente muestra no representa ninguna estadistica real, tan solo genera arbitrariamente ubicaciones
      (circulos) sobre Cali para demostrar como se veria el reporte incidentes de violencia sobre el mapa.
      El producto final esta sujeto a cambios.
    </small>
</div>
<incident-map></incident-map>
<br>
<br>
<div class="container">
    <h2>Fin de la Muestra</h2>
</div>
