<!--The content below is only a placeholder and can be replaced.-->
<h1>Formulario de Registro (Muestra)</h1>
<incident-add-form></incident-add-form>
<h1>Mapa de Reporte (Muestra)</h1>
<small>
  La siguiente muestra no representa ninguna estadistica real, tan solo genera arbitrariamente ubicaciones
  (circulos) sobre Cali para demostrar como se veria el reporte incidentes de violencia sobre el mapa.
  El producto final esta sujeto a cambios.
</small>
<incident-map></incident-map>
<br>
<br>
<h2>Fin de la Muestra</h2>