<div class="container">
  <div class="row">
      <div class="col-4">
        <div class="form-group">
          <label for="state">Departamento</label>
          <select class="form-control" [(ngModel)]="selectedState" (change)="onDeptoChanged()">
            <option [ngValue]="null"></option>
            <option *ngFor="let state of selectStates" [ngValue]="state">{{state.name}}</option>
          </select>
        </div>
      </div>
      <div class="col-4">
        <div class="form-group">
          <label for="city">Ciudad</label>
          <select class="form-control" [(ngModel)]="selectedCity" (change)="onCityChanged()">
            <option [ngValue]="null"></option>
            <option *ngFor="let city of selectCities" [ngValue]="city">{{city.name}}</option>
          </select>
        </div>
      </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom">
        <agm-marker *ngFor="let m of stateMarkers"
          #stateMarker
          [latitude]="m.lat" [longitude]="m.lng"
          (markerClick)="onClickStateMarker($event, stateMarker)"
          draggable="false" [iconUrl]="assets('/map-marker-red.png')"
          [attr.state]="m.state.id">
        </agm-marker>
        <agm-marker *ngFor="let c of cityMarkers"
          #cityMarker
          [latitude]="c.lat" [longitude]="c.lng"
          (markerClick)="onClickCityMarker($event, cityMarker)"
          draggable="false" [iconUrl]="assets('/map-marker-blue.png')"
          [attr.city]="c.city.id">
        </agm-marker>
      </agm-map>
      <div>
        Icons made by <a href="https://www.flaticon.com/authors/simpleicon" title="SimpleIcon">SimpleIcon</a>
        from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>
        is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="jumbotron" *ngIf="displayGeneral">
        <p>Total de casos de VBG registrados</p>
        <p class="h4">{{totalCount}} Incidentes</p>
        <table class="table">
          <tr>
            <th>Depto.</th>
            <th>Incidentes</th>
            <th>Mult</th>

            <th>PSI</th>
            <th>SEX</th>
            <th>PEC</th>
            <th>SIM</th>
            <th>ACO</th>
            <th>DOM</th>
            <th>LAB</th>
            <th>OBS</th>
            <th>MED</th>
            <th>INS</th>

            <th>Denuncia</th>
          </tr>
          <tr *ngFor="let record of stateCount">
            <td><strong>{{record.state}}</strong></td>
            <td>{{record.incidents}}</td>
            <td>{{record.mult}}</td>
            <td>{{record.v_ps}}</td>
            <td>{{record.v_sx}}</td>
            <td>{{record.v_pe}}</td>
            <td>{{record.v_si}}</td>
            <td>{{record.v_ah}}</td>
            <td>{{record.v_do}}</td>
            <td>{{record.v_lb}}</td>
            <td>{{record.v_ob}}</td>
            <td>{{record.v_me}}</td>
            <td>{{record.v_in}}</td>
            <td>{{record.justice}}</td>
          </tr>
        </table>
      </div>
      <div class="jumbotron" *ngIf="displayState">
        <div *ngIf="displayCity">
          <small>Detalles de Incidentes de</small>
          <p class="h5">{{selectedCity.name}}</p>
          <table class="table">
            <tr>
              <th>Ciudad</th>
              <th>Incidentes</th>
              <th>Mult</th>
  
              <th>PSI</th>
              <th>SEX</th>
              <th>PEC</th>
              <th>SIM</th>
              <th>ACO</th>
              <th>DOM</th>
              <th>LAB</th>
              <th>OBS</th>
              <th>MED</th>
              <th>INS</th>
  
              <th>Denuncia</th>
            </tr>
            <tr *ngFor="let record of selectedCityYears">
              <td><strong>{{record.year}}</strong></td>
              <td>{{record.incidents}}</td>
              <td>{{record.mult}}</td>
              <td>{{record.v_ps}}</td>
              <td>{{record.v_sx}}</td>
              <td>{{record.v_pe}}</td>
              <td>{{record.v_si}}</td>
              <td>{{record.v_ah}}</td>
              <td>{{record.v_do}}</td>
              <td>{{record.v_lb}}</td>
              <td>{{record.v_ob}}</td>
              <td>{{record.v_me}}</td>
              <td>{{record.v_in}}</td>
              <td>{{record.justice}}</td>
            </tr>
          </table>
        </div>
        <p class="h5">{{selectedState.name}}</p>
        <p class="h4" *ngIf="selectedStateIncidents != null">{{selectedStateIncidents.incidents}} Incidentes</p>
        <hr>
        <small>Casos VBG por Ciudad</small>
        <table class="table">
          <tr>
            <th>Ciudad</th>
            <th>Incidentes</th>
            <th>Mult</th>

            <th>PSI</th>
            <th>SEX</th>
            <th>PEC</th>
            <th>SIM</th>
            <th>ACO</th>
            <th>DOM</th>
            <th>LAB</th>
            <th>OBS</th>
            <th>MED</th>
            <th>INS</th>

            <th>Denuncia</th>
          </tr>
          <tr *ngFor="let record of selectedStateCities">
            <td><strong>{{record.city}}</strong></td>
            <td>{{record.incidents}}</td>
            <td>{{record.mult}}</td>
            <td>{{record.v_ps}}</td>
            <td>{{record.v_sx}}</td>
            <td>{{record.v_pe}}</td>
            <td>{{record.v_si}}</td>
            <td>{{record.v_ah}}</td>
            <td>{{record.v_do}}</td>
            <td>{{record.v_lb}}</td>
            <td>{{record.v_ob}}</td>
            <td>{{record.v_me}}</td>
            <td>{{record.v_in}}</td>
            <td>{{record.justice}}</td>
          </tr>
        </table>
        <hr>
        <small>Casos VBG de {{selectedState.name}} por año</small>
        <table class="table">
          <tr>
            <th>Año</th>
            <th>Incidentes</th>
            <th>Mult</th>

            <th>PSI</th>
            <th>SEX</th>
            <th>PEC</th>
            <th>SIM</th>
            <th>ACO</th>
            <th>DOM</th>
            <th>LAB</th>
            <th>OBS</th>
            <th>MED</th>
            <th>INS</th>

            <th>Denuncia</th>
          </tr>
          <tr *ngFor="let record of selectedStateYears">
            <td><strong>{{record.year}}</strong></td>
            <td>{{record.incidents}}</td>
            <td>{{record.mult}}</td>
            <td>{{record.v_ps}}</td>
            <td>{{record.v_sx}}</td>
            <td>{{record.v_pe}}</td>
            <td>{{record.v_si}}</td>
            <td>{{record.v_ah}}</td>
            <td>{{record.v_do}}</td>
            <td>{{record.v_lb}}</td>
            <td>{{record.v_ob}}</td>
            <td>{{record.v_me}}</td>
            <td>{{record.v_in}}</td>
            <td>{{record.justice}}</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>