<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="form-group">
        <label for="type"></label>
        <select class="form-control" id="type">
          <option>Deptos</option>
          <option>Deptos por Año</option>
          <option>Año por Depto</option>
          <option>Ciudad por Depto</option>
          <option>Ciudad por Depto/Año</option>
          <option>Año por Ciudad</option>
        </select>
      </div>
    </div>
  </div>
  <div class="row">
      <div class="col-3">
        <div class="form-group">
          <label for="state">Departamento</label>
          <select class="form-control" [(ngModel)]="selectedState" (change)="onDeptoChanged()">
            <option [ngValue]="null"></option>
            <option *ngFor="let state of selectStates" [ngValue]="state">{{state.name}}</option>
          </select>
        </div>
      </div>
      <div class="col-3">
        <div class="form-group">
          <label for="city">Ciudad</label>
          <select class="form-control" [(ngModel)]="selectedCity" (change)="onCityChanged()">
            <option [ngValue]="null"></option>
            <option *ngFor="let city of selectCities" [ngValue]="city">{{city.name}}</option>
          </select>
        </div>
      </div>
      <div class="col-3">
        <div class="form-group">
          <label for="city">Año</label>
          <select class="form-control" [(ngModel)]="selectedYear" (change)="onYearChanged()">
            <option [ngValue]="0"></option>
            <option *ngFor="let year of selectYears" [ngValue]="year">{{year}}</option>
          </select>
        </div>
      </div>
  </div>
  <div class="row">
    <div class="col-sm-8">
      <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom">
        <agm-marker *ngFor="let m of stateMarkers"
          #stateMarker
          [latitude]="m.lat" [longitude]="m.lng"
          (markerClick)="onClickStateMarker($event, stateMarker)"
          draggable="false" iconUrl="assets/map-marker-red.png"
          [attr.state]="m.state.id">
        </agm-marker>
        <agm-marker *ngFor="let c of cityMarkers"
          #cityMarker
          [latitude]="c.lat" [longitude]="c.lng"
          (markerClick)="onClickCityMarker($event, cityMarker)"
          draggable="false" iconUrl="assets/map-marker-blue.png"
          [attr.city]="c.city.id">
        </agm-marker>
      </agm-map>
      <div>
        Icons made by <a href="https://www.flaticon.com/authors/simpleicon" title="SimpleIcon">SimpleIcon</a>
        from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>
        is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a>
      </div>
    </div>
    <div class="col-sm-4">
      Charts
    </div>
  </div>
</div>