<div class="container">
  <div class="row">
      <div class="col-6">
        <div class="form-group">
          <label for="state">Departamento</label>
          <select class="form-control" [(ngModel)]="selectedState" (change)="onDeptoChanged()">
            <option [ngValue]="null"></option>
            <option *ngFor="let state of selectStates" [ngValue]="state">{{state.name}}</option>
          </select>
        </div>
      </div>
      <div class="col-6">
        <div class="form-group">
          <label for="city">Ciudad</label>
          <select class="form-control" [(ngModel)]="selectedCity" (change)="onCityChanged()">
            <option [ngValue]="null"></option>
            <option *ngFor="let city of selectCities" [ngValue]="city">{{city.name}}</option>
          </select>
        </div>
      </div>
  </div>
  <div class="row">
    <div class="col-md-8">
      <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom">
        <agm-marker *ngFor="let m of stateMarkers"
          #stateMarker
          [latitude]="m.lat" [longitude]="m.lng"
          (markerClick)="onClickStateMarker($event, stateMarker)"
          draggable="false" iconUrl="assets/map-marker-red.png"
          [attr.state]="m.state.id">
        </agm-marker>
        <agm-marker *ngFor="let c of cityMarkers"
          #cityMarker
          [latitude]="c.lat" [longitude]="c.lng"
          (markerClick)="onClickCityMarker($event, cityMarker)"
          draggable="false" iconUrl="assets/map-marker-blue.png"
          [attr.city]="c.city.id">
        </agm-marker>
      </agm-map>
      <div>
        Icons made by <a href="https://www.flaticon.com/authors/simpleicon" title="SimpleIcon">SimpleIcon</a>
        from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>
        is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="jumbotron" *ngIf="displayGeneral">
        <p>Total incidentes registrados hasta ahora</p>
        <p class="h4">{{totalCount}} Incidentes</p>
        <div class="row" *ngFor="let record of stateCount">
          <div class="col-7" style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;">
            <small><strong>{{record.state}}</strong></small>
          </div>
          <div class="col-5">
              <small>{{record.incidents}}</small>
          </div>
        </div>
      </div>
      <div class="jumbotron" *ngIf="displayState">
        <div *ngIf="displayCity">
            <small>Detalles de Incidentes de</small>
            <p class="h5">{{selectedCity.name}}</p>
            <div class="row" *ngFor="let record of selectedCityYears">
              <div class="col-7">
                <small><strong>{{record.year}}</strong></small>
              </div>
              <div class="col-5">
                  <small>{{record.incidents}}</small>
              </div>
            </div>
        </div>
        <p class="h5">{{selectedState.name}}</p>
        <p class="h4" *ngIf="selectedStateIncidents != null">{{selectedStateIncidents.incidents}} Incidentes</p>
        <hr>
        <small>Incidentes por Ciudad</small>
        <div class="row" *ngFor="let record of selectedStateCities">
          <div class="col-7" style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;">
            <small><strong>{{record.city}}</strong></small>
          </div>
          <div class="col-5">
              <small>{{record.incidents}}</small>
          </div>
        </div>
        <hr>
        <small>Incidentes de {{selectedState.name}} por año</small>
        <div class="row" *ngFor="let record of selectedStateYears">
          <div class="col-7" style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;">
            <small><strong>{{record.year}}</strong></small>
          </div>
          <div class="col-5">
              <small>{{record.incidents}}</small>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>