<div [formGroup]="victimInfoForm">
  <div class="row">
    <div class="col-md-12">
      <agm-map [latitude]="olat" [longitude]="olng" (mapClick)="onClickMap($event)">
        <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
      </agm-map>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label for="lat">Latitud</label>
        <input type="text" class="form-control" formControlName="lat" readonly>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label for="lng">Longitud</label>
        <input type="text" class="form-control" formControlName="lng" readonly>
      </div>
    </div>
  </div>

  <div formGroupName="homeLocation">
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="country">País</label>
          <input type="text" class="form-control" formControlName="country" readonly>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="state">Depto</label>
          <input type="text" class="form-control" formControlName="state" readonly>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="form-group">
          <label for="city">Ciudad o Municipio</label>
          <input type="text" class="form-control" formControlName="city" readonly>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label for="barrio">Barrio, Vereda o Corregimiento</label>
          <input type="text" class="form-control" formControlName="area" readonly>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label for="zip">Codigo Postal</label>
          <input type="text" class="form-control" formControlName="zip" readonly>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <label for="gender">Género/Identidad sexual</label>
      <select class="form-control" formControlName="gender">
        <option value="F">Femenino</option>
        <option value="M">Masculino</option>
        <option value="X">No Especificado</option>
      </select>
    </div>
    <div class="col-md-4">
      <label for="race">Raza/Origen Étnico</label>
      <select class="form-control" formControlName="race">
        <option *ngFor="let r of races" [ngValue]="r">{{r.name}}</option>
        
      </select>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <label for="relation">Relación con Victimario</label>
        <input type="text" class="form-control" formControlName="relation">
      </div>
    </div>  
  </div>
  <hr>
  <div formGroupName="livingWith">
    <div class="row">
      <div class="col-md-12">
        <label><strong>La Victima vive con</strong></label>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <div class="form-group form-check">
          <input type="checkbox" class="form-check-input" formControlName="children">
          <label class="form-check-label">Hijos(as)</label>
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group form-check">
          <input type="checkbox" class="form-check-input" formControlName="spouse">
          <label class="form-check-label">Esposo(a)</label>
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group form-check">
          <input type="checkbox" class="form-check-input" formControlName="father">
          <label class="form-check-label">Padre</label>
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group form-check">
          <input type="checkbox" class="form-check-input" formControlName="mother">
          <label class="form-check-label">Madre</label>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-3">
        <div class="form-group form-check">
          <input type="checkbox" class="form-check-input" formControlName="siblings">
          <label class="form-check-label">Hermanos(as)</label>
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group form-check">
          <input type="checkbox" class="form-check-input" formControlName="grandfather">
          <label class="form-check-label">Abuelo</label>
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group form-check">
          <input type="checkbox" class="form-check-input" formControlName="grandmother">
          <label class="form-check-label">Abuela</label>
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group form-check">
          <input type="checkbox" class="form-check-input" formControlName="other">
          <label class="form-check-label">Otros</label>
        </div>
      </div>
    </div>
  </div>
</div>