<div class="row">
  <div class="col-md-12">
    <label>¿Quiénes fueron los perpetradores?</label>
    <textarea class="form-control" formControlName="who_perpetrators"
    ºrows="4" placeholder="nombres y apodos, número de perpetradores, lo que dijeron, características distintivas (estimación de edad, etnia, acento, vestimenta, marcas), motivos y afiliaciones)."></textarea>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-md-12">
    <label>¿Cuáles cree que fueron los motivos detrás de las violaciones de los derechos humanos?</label>
    <textarea class="form-control" formControlName="perp_motives"
      rows="4" placeholder=""></textarea>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-md-12">
    <label>¿Qué te hace creer que estos son los motivos?</label>
    <textarea class="form-control" formControlName="why_perp_motives"
      rows="4" placeholder=""></textarea>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-md-12">
    <label>¿Los perpetradores dijeron / hicieron algo específico?</label>
    <textarea class="form-control" formControlName="perps_said_did"
      rows="4" placeholder=""></textarea>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-md-12">
    <label>¿Algún perpetrador recibió órdenes?</label>
    <textarea class="form-control" formControlName="perps_took_orders"
      rows="4" placeholder=""></textarea>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-md-12">
    <label>¿Algunos perpetradores estaba dando órdenes?</label>
    <textarea class="form-control" formControlName="perps_gave_orders"
      rows="4" placeholder=""></textarea>
  </div>
</div>