<div class="container">
  <form [formGroup]="incidentForm">
    <h3>Informacion de la Victima</h3>
    <div class="row">
      <div class="col-md-12">
        <agm-map [latitude]="olat" [longitude]="olng" (mapClick)="onClickMap($event)">
          <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
        </agm-map>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="lat">Latitud</label>
          <input type="text" class="form-control" formControlName="lat" readonly>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="lng">Longitud</label>
          <input type="text" class="form-control" formControlName="lng" readonly>
        </div>
      </div>
    </div>
    
    <div formGroupName="homeLocation">
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label for="country">País</label>
            <input type="text" class="form-control" formControlName="country" readonly>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="state">Depto</label>
            <input type="text" class="form-control" formControlName="state" readonly>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="form-group">
            <label for="city">Ciudad o Municipio</label>
            <input type="text" class="form-control" formControlName="city" readonly>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label for="barrio">Barrio, Vereda o Corregimiento</label>
            <input type="text" class="form-control" formControlName="area" readonly>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label for="zip">Codigo Postal</label>
            <input type="text" class="form-control" formControlName="zip" readonly>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4">
        <label for="gender">Género/Identidad sexual</label>
        <select class="form-control" formControlName="gender">
          <option value="F">Femenino</option>
          <option value="M">Masculino</option>
          <option value="X">No Especificado</option>
        </select>
      </div>
      <div class="col-md-4">
        <label for="race">Raza/Origen Étnico</label>
        <select class="form-control" formControlName="race">
          <option *ngFor="let r of races" [ngValue]="r">{{r.name}}</option>
          
        </select>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label for="relation">Relación con Victimario</label>
          <input type="text" class="form-control" formControlName="relation">
        </div>
      </div>  
    </div>
    <hr>
    <div formGroupName="livingWith">
      <div class="row">
        <div class="col-md-12">
          <label><strong>La Victima vive con</strong></label>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <div class="form-group form-check">
            <input type="checkbox" class="form-check-input" formControlName="children">
            <label class="form-check-label">Hijos(as)</label>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group form-check">
            <input type="checkbox" class="form-check-input" formControlName="spouse">
            <label class="form-check-label">Esposo(a)</label>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group form-check">
            <input type="checkbox" class="form-check-input" formControlName="father">
            <label class="form-check-label">Padre</label>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group form-check">
            <input type="checkbox" class="form-check-input" formControlName="mother">
            <label class="form-check-label">Madre</label>
          </div>
        </div>
      </div>
  
      <div class="row">
        <div class="col-md-3">
          <div class="form-group form-check">
            <input type="checkbox" class="form-check-input" formControlName="siblings">
            <label class="form-check-label">Hermanos(as)</label>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group form-check">
            <input type="checkbox" class="form-check-input" formControlName="grandfather">
            <label class="form-check-label">Abuelo</label>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group form-check">
            <input type="checkbox" class="form-check-input" formControlName="grandmother">
            <label class="form-check-label">Abuela</label>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group form-check">
            <input type="checkbox" class="form-check-input" formControlName="other">
            <label class="form-check-label">Otros</label>
          </div>
        </div>
      </div>
    </div>
    
    <hr>
    <h3>Información del Incidente</h3>
    <div class="row">
      <div class="col-md-4">
        <label>Tipo de Violencia de Tipo Genero</label>
        <select class="form-control" formControlName="gvt">
          <option value="VS">Violencia doméstica o violencia sexual</option>
          <option value="PI">Violencia doméstica o violencia de pareja íntima</option>
          <option value="FS">Trabajo sexual forzado / trata de personas</option>
          <option value="DR">Violaciones de los derechos reproductivos</option>
          <option value="NS">Niños y niñas solados</option>
          <option value="DD">Violencia contra las defensoras de los derechos humanos</option>
        </select>
      </div>
      <div class="col-md-4">
        <label>Tipo de Fecha</label>
        <select class="form-control" formControlName="date_type" [(ngModel)]="date_type">
          <option value="">-- Selecciona --</option>
          <option value="A">Año (YYYY)</option>
          <option value="M">Mes (YYYY/MM)</option>
          <option value="D">Dia (YYYY/MM/DD)</option>
          <option value="R">Rango (YYYY/MM/DD - YYYY/MM/DD)</option>
        </select>
      </div>
      <div class="col-md-4" *ngIf="date_type == 'A'">
        <label>Año</label>
        <input type="number" class="form-control" formControlName="date_year">
      </div>
      <div class="col-md-4" *ngIf="date_type == 'M'">
        <div class="row">
          <div class="col-md-6">
            <label>Año</label>
            <input type="number" class="form-control" formControlName="date_year">
          </div>
          <div class="col-md-6">
            <label>Mes</label>
            <input type="number" class="form-control" formControlName="date_month">
          </div>
        </div>
      </div>
      <div class="col-md-4" *ngIf="date_type == 'D'">
        <label>Dia (Fecha Exacta)</label>
        <input type="text" class="form-control" formControlName="date_single" bsDatepicker>
      </div>
      <div class="col-md-4" *ngIf="date_type == 'R'">
        <label>Rango de Fechas</label>
        <input type="text" placeholder="" class="form-control" formControlName="date_range" bsDaterangepicker>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <label>Lugar en donde ocurrio el incidente</label>
        <textarea class="form-control" rows="5" formControlName="place"></textarea>
      </div>
    </div>
    <div class="row">
        <div class="col-md-4">
          <label>Duracion (horas)</label>
          <input type="number" class="form-control" min="1" formControlName="duration">
        </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-12">
        <label>Se usaron armas?</label>
        &nbsp;<input type="radio" formControlName="weapons" name="weapons" [value]="true"  [(ngModel)]="weapons"> <label class="b">Si</label>
        &nbsp;<input type="radio" formControlName="weapons" name="weapons" [value]="false" [(ngModel)]="weapons"> <label class="b">No</label>
      </div>
    </div>
    <div class="row" *ngIf="weapons">
        <div class="col-md-12">
            <label>Que tipo de armas?</label>
            <textarea class="form-control" rows="5" formControlName="what_weapons"></textarea>
        </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-12">
        <label>Hubo violencia sexual?</label>
        &nbsp;<input type="radio" formControlName="sex_violence" name="sex_violence" [value]="true" > <label class="b">Si</label>
        &nbsp;<input type="radio" formControlName="sex_violence" name="sex_violence" [value]="false"> <label class="b">No</label>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-12">
          <label>Quienes estuvieron presentes durante el incidente?</label>
          <textarea class="form-control" rows="5" formControlName="who_was_there"></textarea>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-2">
        <label>Cuanta gente?</label>
        <input type="number" class="form-control" formControlName="how_many">
      </div>
      <div class="col-md-10">
        <label>Cuales fueron sus afiliaciones</label>
        <textarea class="form-control" rows="1" formControlName="afiliations"></textarea>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-12">
        <label>Describa las circunstancias relevantes antes y después del incidente.</label>
        <textarea class="form-control"  formControlName="circumstances"
        rows="4" placeholder="ej. Llegó un grupo armado previamente, presencia del ejército, actividad económica ilegal, movilización, etc.">
        </textarea>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-12">
        <label>¿Cuáles fueron las consecuencias del acto sobre las víctimas?</label>
        <textarea class="form-control" rows="4" formControlName="consequences"></textarea>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-12">
        <label>¿Qué repercusiones tuvo la acción o se pueden percibir en la familia, comunidad y el territorio de la víctima? (si las hubiese).</label>
        <textarea class="form-control" rows="4" formControlName="repercussions"></textarea>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-12">
        <label>¿Recibió algún tipo de atención después?</label>
        &nbsp;<input type="radio" formControlName="attention" name="attention" [value]="true"  [(ngModel)]="attention"> <label class="b">Si</label>
        &nbsp;<input type="radio" formControlName="attention" name="attention" [value]="false" [(ngModel)]="attention"> <label class="b">No</label>
      </div>
    </div>
    <div class="row" *ngIf="attention">
      <div class="col-md-12">
        <label>Mas informacion sobre la atencion prestada</label>
        <textarea class="form-control" rows="4" formControlName="what_attention"></textarea>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-12">
        <label>¿La víctima siente que fue amenazada por una persona o personas específicas antes o después del incidente? </label>
        &nbsp;<input type="radio" formControlName="threatened" name="threatened" [value]="true"  [(ngModel)]="threatened"> <label class="b">Si</label>
        &nbsp;<input type="radio" formControlName="threatened" name="threatened" [value]="false" [(ngModel)]="threatened"> <label class="b">No</label>
      </div>
    </div>
    <div class="row" *ngIf="threatened">
      <div class="col-md-12">
        <label>¿Cuáles son estas amenazas? </label>
        <textarea class="form-control" rows="4" formControlName="what_threats"></textarea>
      </div>
    </div>
    <div class="row" *ngIf="threatened">
      <div class="col-md-12">
        <label>¿Cómo y cuándo fueron recibidos?</label>
        <textarea class="form-control" rows="4" formControlName="when_how_threats"></textarea>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-12">
        <label>¿Han sido documentadas y reportadas a las autoridades?</label>
        &nbsp;<input type="radio" formControlName="reported" name="reported" [value]="true"  [(ngModel)]="reported"> <label class="b">Si</label>
        &nbsp;<input type="radio" formControlName="reported" name="reported" [value]="false" [(ngModel)]="reported"> <label class="b">No</label>
      </div>
    </div>
    <div class="row" *ngIf="reported">
      <div class="col-md-12">
        <label>¿Qué pasó después de que se presentaron los informes?</label>
        <textarea class="form-control" formControlName="after_reported"
          rows="4" placeholder="Si hay denuncias o documentación, en lo posible obtener copias."></textarea>
      </div>
    </div>
    <div class="row" *ngIf="reported">
      <div class="col-md-12">
        <hr>
        <label>¿Vinieron la policía u otras autoridades o se informó el incidente a la policía u otras autoridades estatales?</label>
        &nbsp;<input type="radio" formControlName="police_arrived" name="police_arrived" [value]="true"  [(ngModel)]="police_arrived"> <label class="b">Si</label>
        &nbsp;<input type="radio" formControlName="police_arrived" name="police_arrived" [value]="false" [(ngModel)]="police_arrived"> <label class="b">No</label>
      </div>
    </div>
    <div class="row" *ngIf="police_arrived">
      <div class="col-md-12">
        <label>¿Cuál fue la reacción de las autoridades estatales?</label>
        <textarea class="form-control" rows="4" formControlName="police_reactions"></textarea>
      </div>
    </div>
    <div class="row" *ngIf="reported">
      <div class="col-md-12">
        <hr>
        <label>¿Han proporcionado alguna asistencia a la víctima?</label>
        &nbsp;<input type="radio" formControlName="police_assisted" name="police_assisted" [value]="true"> <label class="b">Si</label>
        &nbsp;<input type="radio" formControlName="police_assisted" name="police_assisted" [value]="false"> <label class="b">No</label>
      </div>
    </div>
    <hr>
    
    <h3>Información sobre el/los perpetrador(es)</h3>
    <div class="row">
      <div class="col-md-12">
        <label>¿Quiénes fueron los perpetradores?</label>
        <textarea class="form-control" formControlName="who_perpetrators"
        ºrows="4" placeholder="nombres y apodos, número de perpetradores, lo que dijeron, características distintivas (estimación de edad, etnia, acento, vestimenta, marcas), motivos y afiliaciones)."></textarea>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-12">
        <label>¿Cuáles cree que fueron los motivos detrás de las violaciones de los derechos humanos?</label>
        <textarea class="form-control" formControlName="perp_motives"
          rows="4" placeholder=""></textarea>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-12">
        <label>¿Qué te hace creer que estos son los motivos?</label>
        <textarea class="form-control" formControlName="why_perp_motives"
          rows="4" placeholder=""></textarea>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-12">
        <label>¿Los perpetradores dijeron / hicieron algo específico?</label>
        <textarea class="form-control" formControlName="perps_said_did"
          rows="4" placeholder=""></textarea>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-12">
        <label>¿Algún perpetrador recibió órdenes?</label>
        <textarea class="form-control" formControlName="perps_took_orders"
          rows="4" placeholder=""></textarea>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-12">
        <label>¿Algunos perpetradores estaba dando órdenes?</label>
        <textarea class="form-control" formControlName="perps_gave_orders"
          rows="4" placeholder=""></textarea>
      </div>
    </div>

    <!--
    <div class="row">
      <div class="col-xs-12 col-12 col-md-4 form-group">
        <input type="text"
               placeholder="Datepicker"
               class="form-control"
               bsDatepicker>
      </div>
      <div class="col-xs-12 col-12 col-md-4 form-group">
        <input type="text"
               placeholder="Daterangepicker"
               class="form-control"
               bsDaterangepicker>
      </div>
    </div>
    <div class="form-group">
      <label for="exampleInputEmail1">Email address</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
    </div>
    <div class="form-group form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1">
      <label class="form-check-label" for="exampleCheck1">Check me out</label>
    </div>
-->
    <hr>
    <button type="submit" class="btn btn-primary">Enviar</button>
  </form>
</div>