<div [formGroup]="simpleForm">
  <div formArrayName="vbg">
    <label>*Tipo de Violencia de Tipo Genero</label>
    <div class="row">
      <div class="col-md-4" *ngFor="let type of types; let i = index">
        <div class="form-check" >
          <input class="form-check-input" type="checkbox" [formControlName]="i">
          <label class="form-check-label">{{type.name}}</label>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <small class="error">{{vbgError}}</small>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <label>*Año</label>
      <select class="form-control" formControlName="year">
          <option value="">-- Año --</option>
          <option *ngFor="let year of years" [value]="year">{{year}}</option>
      </select>
      <small>Año es Obligatorio</small>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <label>*País</label>
      <select class="form-control" readonly>
        <option value="57">Colombia</option>
      </select>
    </div>
    <div class="col-md-4">
      <label>*Departamento</label>
      <select class="form-control" formControlName="state" (change)="onDeptoChanged()">
        <option [value]="0"></option>
        <option *ngFor="let state of selectStates" [value]="state.id">{{state.name}}</option>
      </select>
      <small>Departamento es Obligatorio</small>
    </div>
    <div class="col-md-4">
      <label>*Ciudad</label>
      <select class="form-control" formControlName="city">
        <option *ngFor="let city of selectCities" [value]="city.id">{{city.name}}</option>
      </select>
      <small>Ciudad es Obligatorio</small>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-6">
      <label>* ¿Se Denunció?</label>
      &nbsp;<input type="radio" formControlName="justice" name="justice" [value]="true" > <label class="b">Si</label>
      &nbsp;<input type="radio" formControlName="justice" name="justice" [value]="false"> <label class="b">No</label>
      <br><small>Debe seleccionar Si o No</small><br><br>
    </div>
  </div>
</div>

<button type="button" class="btn btm-lg btn-primary" (click)="send($event)" [disabled]="!simpleForm.valid && !submitDisabled">Guardar</button>