<div class="container">
  <form>
    <h3>Informacion de la Victima</h3>
    <div class="row">
      <div class="col-md-12">
        <agm-map [latitude]="olat" [longitude]="olng" (mapClick)="onClickMap($event)">
          <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
        </agm-map>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="lat">Latitud</label>
          <input type="text" class="form-control" name="lat" aria-describedby="latHelp" [(ngModel)]="lat" readonly>
          <small id="latHelp" class="form-text text-muted">Despliega valor latitud.</small>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="lng">Longitud</label>
          <input type="text" class="form-control" name="lng" aria-describedby="lngHelp" [(ngModel)]="lng" readonly>
          <small id="lngHelp" class="form-text text-muted">Despliega valor longitud.</small>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="country">País</label>
          <input type="text" class="form-control" name="country" aria-describedby="countryHelp" [(ngModel)]="loc.country" readonly>
          <small id="countryHelp" class="form-text text-muted">Nombre de Country.</small>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="state">Depto</label>
          <input type="text" class="form-control" name="state" aria-describedby="stateHelp" [(ngModel)]="loc.state" readonly>
          <small id="stateHelp" class="form-text text-muted">Nombre de State.</small>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="form-group">
          <label for="city">Ciudad</label>
          <input type="text" class="form-control" name="city" aria-describedby="cityHelp" [(ngModel)]="loc.city" readonly>
          <small id="cityHelp" class="form-text text-muted">Nombre de City.</small>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label for="barrio">Barrio</label>
          <input type="text" class="form-control" name="barrio" aria-describedby="barrioHelp" [(ngModel)]="loc.area" readonly>
          <small id="barrioHelp" class="form-text text-muted">Nombre de Barrio.</small>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label for="zip">Codigo Postal</label>
          <input type="text" class="form-control" name="zip" aria-describedby="zipHelp" [(ngModel)]="loc.zip" readonly>
          <small id="zipHelp" class="form-text text-muted">Código Postal.</small>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4">
        <label for="gender">Género</label>
        <select class="form-control" name="gender" aria-describedby="genderHelp" [(ngModel)]="gender">
          <option value="F">Femenino</option>
          <option value="M">Masculino</option>
          <option value="X">No Especificado</option>
        </select>
        
        <small id="genderHelp" class="form-text text-muted">Género.</small>
      </div>
      <div class="col-md-4">
        <label for="race">Etnia {{race.name}}</label>
        <select class="form-control" name="race" aria-describedby="raceHelp" [(ngModel)]="race">
          <option *ngFor="let r of races" [ngValue]="r">{{r.name}}</option>
          
        </select>
        
        <small id="raceHelp" class="form-text text-muted">Raza Etnica.</small>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label for="relation">Relación con Victimario</label>
          <input type="text" class="form-control" name="relation" aria-describedby="relationHelp" [(ngModel)]="relation">
          <small id="relationHelp" class="form-text text-muted">Que relacion tiene la victima y el victimario.</small>
        </div>
      </div>  
    </div>

    <div class="row">
      <div class="col-md-12">
        <label><strong>La Victima vive con</strong></label>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <div class="form-group form-check">
          <input type="checkbox" class="form-check-input" name="lw_children" [(ngModel)]="lw_children">
          <label class="form-check-label" for="lw_children">Hijos(as)</label>
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group form-check">
          <input type="checkbox" class="form-check-input" name="lw_spouse" [(ngModel)]="lw_spouse">
          <label class="form-check-label" for="lw_spouse">Esposo(a)</label>
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group form-check">
          <input type="checkbox" class="form-check-input" name="lw_father" [(ngModel)]="lw_father">
          <label class="form-check-label" for="lw_father">Padre</label>
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group form-check">
          <input type="checkbox" class="form-check-input" name="lw_mother" [(ngModel)]="lw_mother">
          <label class="form-check-label" for="lw_mother">Madre</label>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-3">
        <div class="form-group form-check">
          <input type="checkbox" class="form-check-input" name="lw_siblings" [(ngModel)]="lw_siblings">
          <label class="form-check-label" for="lw_siblings">Hermanos(as)</label>
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group form-check">
          <input type="checkbox" class="form-check-input" name="lw_grandfather" [(ngModel)]="lw_grandfather">
          <label class="form-check-label" for="lw_grandfather">Abuelo</label>
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group form-check">
          <input type="checkbox" class="form-check-input" name="lw_grandmother" [(ngModel)]="lw_grandmother">
          <label class="form-check-label" for="lw_grandmother">Abuela</label>
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group form-check">
          <input type="checkbox" class="form-check-input" name="lw_other" [(ngModel)]="lw_other">
          <label class="form-check-label" for="lw_other">Otros</label>
        </div>
      </div>
    </div>

    <h3>Información del Incidente</h3>
    <div class="row">
      <div class="col-md-4">
        <label for="gvt">Tipo de Violencia de Tipo Genero</label>
        <select class="form-control" name="gvt" aria-describedby="gvtHelp" ([ngModel])="gvt">
          <option value="V">VGB</option>
        </select>
        <small id="gvtHelp" class="form-text text-muted">Tipo de Violencia de Tipo Genero</small>
      </div>
      <div class="col-md-4">
        <label for="date_type">Tipo de Fecha</label>
        <select class="form-control" name="date_type" aria-describedby="date_typeHelp" [(ngModel)]="date_type">
          <option value="">-- Selecciona --</option>
          <option value="A">Año (YYYY)</option>
          <option value="M">Mes (YYYY/MM)</option>
          <option value="D">Dia (YYYY/MM/DD)</option>
          <option value="R">Rango (YYYY/MM/DD - YYYY/MM/DD)</option>
        </select>
        <small id="date_typeHelp" class="form-text text-muted">Si es una fecha exacta o un rango</small>
      </div>
      <div class="col-md-4" *ngIf="date_type == 'A'">
        <label for="date_year">Año</label>
        <input type="number" name="date_year" class="form-control" [(ngModel)]="date_year">
        <small id="date_yearHelp" class="form-text text-muted">Seleccione Año</small>
      </div>
      <div class="col-md-4" *ngIf="date_type == 'M'">
        <div class="row">
          <div class="col-md-6">
            <label for="date_year">Año</label>
            <input type="number" name="date_year" class="form-control" [(ngModel)]="date_year">
          </div>
          <div class="col-md-6">
            <label for="date_month">Mes</label>
            <input type="number" name="date_month" class="form-control" [(ngModel)]="date_month">
          </div>
        </div>
        <small id="date_monthHelp" class="form-text text-muted">Seleccione Mes</small>
      </div>
      <div class="col-md-4" *ngIf="date_type == 'D'">
        <label for="date">Dia (Fecha Exacta)</label>
        <input type="text"
              placeholder=""
              name="date"
              class="form-control"
              bsDatepicker
              [(ngModel)]="date">
        <small id="date_typeHelp" class="form-text text-muted">Seleccione la fecha en que ocurrio el incidente</small>
      </div>
      <div class="col-md-4" *ngIf="date_type == 'R'">
        <label for="date_range">Rango de Fechas</label>
        <input type="text"
              placeholder=""
              name="date_range"
              class="form-control"
              bsDaterangepicker>
        <small id="date_rangeHelp" class="form-text text-muted">Seleccione el rango de fechas</small>
      </div>
    </div>


<!--
Ciudad, lugar dónde ocurrieron los incidentes (descripción detallada de la ubicación física).
¿Por cuánto tiempo tuvo lugar la incidencia?
¿Se usaron armas?
¿Los ataques incluyeron violencia sexual?
¿Quien estuvo presente en el lugar del incidente?
¿Cuánta gente?
¿Cuáles fueron sus afiliaciones?
Describa las circunstancias relevantes antes y después del incidente: (ej. Llegó un grupo armado previamente, presencia del ejército, actividad económica ilegal, movilización, etc.)
¿Cuáles fueron las consecuencias del acto sobre las víctimas?
¿Qué repercusiones tuvo la acción o se pueden percibir en la familia, comunidad y el territorio de la víctima? (si las hubiese).
¿Recibió algún tipo de atención después? 
¿La víctima siente que fue amenazada por una persona o personas específicas antes o después del incidente? 
¿Cuáles son estas amenazas? 
¿Cómo y cuándo fueron recibidos? 
¿Han sido documentadas y reportadas a las autoridades?
¿Qué pasó después de que se presentaron los informes? (Si hay denuncias o documentación, en lo posible obtener copias).
¿Vinieron la policía u otras autoridades o se informó el incidente a la policía u otras autoridades estatales? 
¿Cuál fue la reacción de las autoridades estatales? 
¿Han proporcionado alguna asistencia a la víctima?


¿Quiénes fueron los perpetradores (nombres y apodos, número de perpetradores, lo que dijeron, características distintivas (estimación de edad, etnia, acento, vestimenta, marcas), motivos y afiliaciones))? 
¿Cuáles cree que fueron los motivos detrás de las violaciones de los derechos humanos?
¿Qué te hace creer que estos son los motivos?
¿Los perpetradores dijeron / hicieron algo específico?
¿Algún perpetrador recibió órdenes? 
¿Algunos perpetradores estaba dando órdenes? 

-->

    <!--
    <div class="row">
      <div class="col-xs-12 col-12 col-md-4 form-group">
        <input type="text"
               placeholder="Datepicker"
               class="form-control"
               bsDatepicker>
      </div>
      <div class="col-xs-12 col-12 col-md-4 form-group">
        <input type="text"
               placeholder="Daterangepicker"
               class="form-control"
               bsDaterangepicker>
      </div>
    </div>
    <div class="form-group">
      <label for="exampleInputEmail1">Email address</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
    </div>
    <div class="form-group form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1">
      <label class="form-check-label" for="exampleCheck1">Check me out</label>
    </div>
-->
    <button type="submit" class="btn btn-primary">Enviar</button>
  </form>
</div>