<div class="container">
  <form>
    <h3>Informacion de la Victima</h3>
    <div class="row">
      <div class="col-md-12">
        <agm-map [latitude]="olat" [longitude]="olng" (mapClick)="onClickMap($event)">
          <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
        </agm-map>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="lat">latitud</label>
          <input type="text" class="form-control" id="lat" aria-describedby="latHelp" [value]="lat" readonly>
          <small id="latHelp" class="form-text text-muted">Despliega valor latitud.</small>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="lng">Longitud</label>
          <input type="text" class="form-control" id="lng" aria-describedby="lngHelp" [value]="lng" readonly>
          <small id="lngHelp" class="form-text text-muted">Despliega valor longitud.</small>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="country">País</label>
          <input type="text" class="form-control" id="country" aria-describedby="countryHelp" [value]="loc.country" readonly>
          <small id="countryHelp" class="form-text text-muted">Nombre de Country.</small>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="state">Depto</label>
          <input type="text" class="form-control" id="state" aria-describedby="stateHelp" [value]="loc.state" readonly>
          <small id="stateHelp" class="form-text text-muted">Nombre de State.</small>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="form-group">
          <label for="city">Ciudad</label>
          <input type="text" class="form-control" id="city" aria-describedby="cityHelp" [value]="loc.city" readonly>
          <small id="cityHelp" class="form-text text-muted">Nombre de City.</small>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label for="barrio">Barrio</label>
          <input type="text" class="form-control" id="barrio" aria-describedby="barrioHelp" [value]="loc.area" readonly>
          <small id="barrioHelp" class="form-text text-muted">Nombre de Barrio.</small>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label for="zip">Codigo Postal</label>
          <input type="text" class="form-control" id="zip" aria-describedby="zipHelp" [value]="loc.zip" readonly>
          <small id="zipHelp" class="form-text text-muted">Código Postal.</small>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4">
        <label for="gender">Género</label>
        <select class="form-control" id="gender" aria-describedby="genderHelp" [value]="gender">
          <option value="F">Femenino</option>
          <option value="M">Masculino</option>
          <option value="X">No Especificado</option>
        </select>
        
        <small id="genderHelp" class="form-text text-muted">Género.</small>
      </div>
      <div class="col-md-4">
        <label for="race">Etnia {{race.name}}</label>
        <select class="form-control" name="race" aria-describedby="raceHelp" [(ngModel)]="race">
          <option *ngFor="let r of races" [ngValue]="r">{{r.name}}</option>
          
        </select>
        
        <small id="raceHelp" class="form-text text-muted">Raza Etnica.</small>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label for="relation">Relación con Victimario</label>
          <input type="text" class="form-control" id="relation" aria-describedby="relationHelp" [value]="relation">
          <small id="relationHelp" class="form-text text-muted">Que relacion tiene la victima y el victimario.</small>
        </div>
      </div>  
    </div>

    <div class="row">
      <div class="col-md-12">
        <label><strong>La Victima vive con</strong></label>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <div class="form-group form-check">
          <input type="checkbox" class="form-check-input" id="lw_children" [checked]="lw_children" (change)="lw_children=!lw_children">
          <label class="form-check-label" for="lw_children">Hijos(as)</label>
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group form-check">
          <input type="checkbox" class="form-check-input" id="lw_spouse" [checked]="lw_spouse" (change)="lw_spouse=!lw_spouse">
          <label class="form-check-label" for="lw_spouse">Esposo(a)</label>
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group form-check">
          <input type="checkbox" class="form-check-input" id="lw_father" [checked]="lw_father">
          <label class="form-check-label" for="lw_father">Padre</label>
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group form-check">
          <input type="checkbox" class="form-check-input" id="lw_mother" [checked]="lw_mother">
          <label class="form-check-label" for="lw_mother">Madre</label>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-3">
        <div class="form-group form-check">
          <input type="checkbox" class="form-check-input" id="lw_siblings" [checked]="lw_siblings">
          <label class="form-check-label" for="lw_siblings">Hermanos(as)</label>
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group form-check">
          <input type="checkbox" class="form-check-input" id="lw_grandfather" [checked]="lw_grandfather">
          <label class="form-check-label" for="lw_grandfather">Abuelo</label>
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group form-check">
          <input type="checkbox" class="form-check-input" id="lw_grandmother" [checked]="lw_grandmother">
          <label class="form-check-label" for="lw_grandmother">Abuela</label>
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group form-check">
          <input type="checkbox" class="form-check-input" id="lw_other" [checked]="lw_other">
          <label class="form-check-label" for="lw_other">Otros</label>
        </div>
      </div>
    </div>

    <h3>Información del Incidente</h3>
    <div class="row">
      <div class="col-md-4">
        <label for="gvt">Tipo de Violencia de Tipo Genero</label>
        <select class="form-control" id="gvt" aria-describedby="gvtHelp" ([ngModel])="gvt">
          <option value="V">VGB</option>
        </select>
        <small id="gvtHelp" class="form-text text-muted">Tipo de Violencia de Tipo Genero</small>
      </div>
      <div class="col-md-4">
        <label for="date_type">Tipo de Fecha</label>
        <select class="form-control" name="date_type" aria-describedby="date_typeHelp" [(ngModel)]="date_type">
          <option value="">-- Selecciona --</option>
          <option value="A">Año</option>
          <option value="M">Mes</option>
          <option value="D">Dia</option>
          <option value="R">Rango de Fechas</option>
        </select>
        <small id="date_typeHelp" class="form-text text-muted">Si es una fecha exacta o un rango</small>
      </div>
      <div class="col-md-4" *ngIf="date_type == 'A'">
        <label for="date_year">Año</label>
        <input type="number" name="date_year" class="form-control" [(ngModel)]="date_year">
      </div>
      <div class="col-md-4" *ngIf="date_type == 'M'">
        <div class="row">
          <div class="col-md-6">
            <label for="date_year">Año</label>
            <input type="number" name="date_year" class="form-control" [(ngModel)]="date_year">
          </div>
          <div class="col-md-6">
            <label for="date_month">Mes</label>
            <input type="number" name="date_month" class="form-control" [(ngModel)]="date_month">
          </div>
        </div>
        <small id="date_monthHelp" class="form-text text-muted">Seleccione Mes</small>
      </div>
      <div class="col-md-4" *ngIf="date_type == 'D'">
        <label for="date">Dia (Fecha Exacta)</label>
        <input type="text"
              placeholder=""
              name="date"
              class="form-control"
              bsDatepicker
              [(ngModel)]="date">
        <small id="date_typeHelp" class="form-text text-muted">Seleccione la fecha en que ocurrio el incidente</small>
      </div>
      <div class="col-md-4" *ngIf="date_type == 'R'">
        <label for="date_range">Rango de Fechas</label>
        <input type="text"
              placeholder=""
              name="date_range"
              class="form-control"
              bsDaterangepicker>
        <small id="date_rangeHelp" class="form-text text-muted">Seleccione el rango de fechas</small>
      </div>
    </div>
    <!--
    <div class="row">
      <div class="col-xs-12 col-12 col-md-4 form-group">
        <input type="text"
               placeholder="Datepicker"
               class="form-control"
               bsDatepicker>
      </div>
      <div class="col-xs-12 col-12 col-md-4 form-group">
        <input type="text"
               placeholder="Daterangepicker"
               class="form-control"
               bsDaterangepicker>
      </div>
    </div>
    <div class="form-group">
      <label for="exampleInputEmail1">Email address</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
    </div>
    <div class="form-group form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1">
      <label class="form-check-label" for="exampleCheck1">Check me out</label>
    </div>
-->
    <button type="submit" class="btn btn-primary">Enviar</button>
  </form>
</div>